@charset "utf-8";
/* CSS Document */

  *{
            margin: 0;
        }
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        /* Styles for the popup */
        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: white;
            border: 1px solid #ccc;
            z-index: 1000;
            max-height: 70vh; /* Set a maximum height for the popup */
            overflow-y: auto; /* Enable vertical scrolling when content exceeds max height */
        }

        .close-btn {
            margin-top: 10px;
            cursor: pointer;
            padding: 10px;
            background-color: rgb(64, 144, 235);
            color: white;
            border: none;
            border-radius: 5px;
        }
        .header{
            background-color: rgb(64, 144, 235);
            text-align: center;
            height: 46vh;
        }
        .h1{
            color: white;
            font-size: 43px;
            padding-left: 10vw;
            padding-right: 10vw;
            padding-top: 7vh;
        }
        .h4{
            font-size: 24px;
            padding-top: 5vh;
        }
        .h5{
            font-size: 17px;
            padding-top: 1vh;
        }
        .h41{
            font-size: 20px;
            padding-top: 2vh;
            color: white;
        }
        .sec2{
            text-align: center;
        }
        .sech2{
            padding-top: 3vh;
        }
        .yesb{
            height: 12vh;
            width: 35vw;
            color: white;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            margin-right: 20px;
            background-color: rgb(64, 144, 235);
        }
        
        .nob{
            height: 12vh;
            width: 35vw;
            color: white;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            background-color: rgb(64, 144, 235);
        }
        .byes{
            color: white;
            font-size: 30px;
            font-weight: bolder;
            text-decoration: none;
        }
        .bno{
            color: white;
            font-size: 30px;
            font-weight: bolder;
            text-decoration: none;
        }
        .disc{
            background-color: rgb(230, 230, 230);
            padding-top: 7vh;
            padding-bottom: 7vh;
            padding-left: 10vw;
            padding-right: 10vw;
            margin-top: 7vh;
        }
        .disc1, .disc2, .disc3{
            font-size: 18px;
        }
        .bottom{
            text-align: center;
            padding-top: 8vh;
            padding-bottom: 8vh;
        }
        .pp{
            color: black;
        }
        .tou{
            color: black;
        }

         /* Media queries for mobile phones */
         @media screen and (max-width: 480px) {
          .header {
    height: auto;
    padding-bottom: 1rem;
    margin-left: 5px;
    margin-right: 5px;
}
            .sech2{
                font-size: 25px;
            }
            .h1 {
                font-size: 30px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
            }

            .h4 {
                font-size: 22px;
                padding-top: 15px;
            }

            .h5 {
                font-size: 15px;
            }

            .h41 {
                font-size: 16px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 10px;
            }

            .yesb{
                height: 7vh;
                margin-bottom: 20px;
                margin-left: 20px;
                width: 90%; /* Adjusted width for smaller screens */
            }
            .nob {
                height: 7vh;
                width: 90%; /* Adjusted width for smaller screens */
            }

            .disc {
                margin-top: 20px;
                padding-top: 2vh;
                padding-bottom: 2vh;
                padding-left: 5vw;
                padding-right: 5vw;
            }
            .disc1, .disc2, .disc3{
            font-size: 13px;
        }
        .bottom{
            text-align: center;
            padding-top: 3vh;
            padding-bottom: 2vh;
        }
        }

        /* Media queries for tablets */
        @media screen and (min-width: 481px) and (max-width: 768px) {
            .header{
                height: 60vh;
            }
            .sech2{
                font-size: 25px;
            }
            .h1 {
                font-size: 35px;
            }

            .h4 {
                font-size: 22px;
                padding-top: 15px;
            }

            .h5 {
                font-size: 16px;
            }

            .h41 {
                font-size: 18px;
                padding-top: 10px;
            }
        }